@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5zz4p5');
  src:  url('fonts/icomoon.eot?5zz4p5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5zz4p5') format('truetype'),
    url('fonts/icomoon.woff?5zz4p5') format('woff'),
    url('fonts/icomoon.svg?5zz4p5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e90d";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-search:before {
  content: "\e986";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-menu:before {
  content: "\e9bd";
}
